section {
    display: table;
    margin: 8px;
    margin-top: 30px;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
  }
  
  .example-button-row button {
    display: table-cell;
    margin-right: 8px;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    width: 480px;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  b {
    text-decoration: underline;
    
  }


  .container {

    width: 50%;
    overflow-x: auto;
    white-space: nowrap;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
  margin-left: 10px;
    cursor: pointer;
    /* width: 3px; */
    font-size: 16px;
}

